<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Project - About</title>
</head>
<body>
    <h1>About the project</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus nihil et, tempore sequi possimus totam sint. Inventore voluptate vitae corporis.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus nihil et, tempore sequi possimus totam sint. Inventore voluptate vitae corporis.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus nihil et, tempore sequi possimus totam sint. Inventore voluptate vitae corporis.</p>
    <p><a href="{{ url_for('about') }}">About</a></p>
    <p><a href="{{ url_for('index') }}">Home</a></p>
</body>
</html>