{% extends "base.html" %}

<!-- title -->
{% block title %} {{ pageTitle }} {% endblock %}

<!-- content -->
{% block content %}

<main>
    <span id="main-greeting">Bem vindo à <strong id="kosmic-main">Kosmic</strong></span>
    <h1>Marketing Digital</h1>
    <p>Aumente suas vendas, fortaleça sua marca e conquiste o mercado com a Kosmic. Entre em contato conosco agora e veja como podemos transformar sua presença na internet!</p>
    <a href="{{ url_for('about') }}">Saiba mais</a>
</main>

{% endblock %}