<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Kosmic Marketing Agency - Home</title>
</head>
<body>
    <!-- header -->
    <header>
        <div id="header-contact-bar">
            <ul class="left-content">
                <li>
                    <a href="#"><i class="fa-regular fa-envelope"></i> kosmiccontact@gmail.com</a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-whatsapp"></i> (00) 0000-0000</a>
                </li>
            </ul>
            <ul class="right-content">
                <li>
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-tiktok"></i></a>
                </li>
            </ul>
        </div>
        <!-- navigation bar -->
        <div id="header-navbar">
            <a href="#" id="nav-logo">
                <img src="{{ url_for('static', filename='img/kosmic-logo.webp') }}" alt="Kosmic Logo">
            </a>
            <nav id="nav-links">
                <ul>
                    <li>
                        <a href="{{ url_for('index') }}">home</a>
                    </li>
                    <li>
                        <a href="{{ url_for('portfolio') }}">portfolio</a>
                    </li>
                    <li>
                        <a href="{{ url_for('services') }}">services</a>
                    </li>
                    <li>
                        <a href="{{ url_for('about') }}">about us</a>
                    </li>
                    <li>
                        <a class="nav-btn" href="{{ url_for('contact') }}">contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
<!-- fontawesome -->
<script src="https://kit.fontawesome.com/035184f79b.js" crossorigin="anonymous"></script>
</body>
</html>