{% extends "base.html" %}

<!-- title -->
{% block title %} {{ pageTitle }} {% endblock %}

<!-- content -->
{% block content %}

<h2>Examples of success!</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse natus fuga eaque illum, consectetur dicta.</p>
<ul>
    <li>Lorem ipsum dolor sit.</li>
    <li>Lorem, ipsum.</li>
    <li>Lorem ipsum dolor sit.</li>
</ul>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse natus fuga eaque illum, consectetur dicta.</p>

<ul>
    <li>Lorem ipsum dolor sit.</li>
    <li>Lorem, ipsum.</li>
    <li>Lorem ipsum dolor sit.</li>
</ul>

{% endblock %}