{% extends "base.html" %}

<!-- title -->
{% block title %} {{ pageTitle }} {% endblock %}

<!-- content -->
{% block content %}

<h2>Check out our services!</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci beatae porro laudantium rerum voluptatem optio.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse natus fuga eaque illum, consectetur dicta.</p>
<ul>
    <li>Lorem ipsum dolor sit.</li>
    <li>Lorem, ipsum.</li>
    <li>Lorem ipsum dolor sit.</li>
    <li>Lorem ipsum dolor sit amet consectetur.</li>
</ul>

{% endblock %}